/* Used for mobile view */
@media (max-width: 768px) {
  nav ul{
    flex-direction: column;
  }

  .active {
    display: block;
  }

  .images img {
    width: 80%;
  }
}

@media (max-width: 480px) {
  #menu {
    top: 4rem;
  }
}